{# Kế thừa layout frontend #}
{% extends "frontend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
AboutUs
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Ve chung toi
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}

<style type="text/css">
    div{
        /* border: 1px dotted blue; */
    }

    @media (min-width: 768px) {
        .mymap {
            height: 420px;
        }
    }
    @media (max-width: 765px) {
        .mymap {
            height: 300px;
        }
    }
</style>

<div style="height: 100px;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6">noi dung gioi thieu</div>
        <div class="col-md-6">
                <div id="map">
                        <iframe class="mymap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.64859793234!2d105.78714431384577!3d10.045828392819752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a062af21cb49c7%3A0xff6770616331b95b!2sCafe+Fooball!5e0!3m2!1sen!2s!4v1564407973123!5m2!1sen!2s" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            <!-- <div>https://goo.gl/maps/gqXDU1tb5WYrXJam8</div> -->
        </div>
    </div>
</div>


{% endblock %}
{# End Nội dung trong block content #}

