{# Kế thừa layout frontend #}
{% extends "frontend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Dashboard
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Bảng tin
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}


    <!-- Slider -->
    <style media="screen">
      *{
        font-family: 'Times New Roman', Times, serif;
      }
      #menubar{
        margin: 0px;
        padding: 0px;
      }
      #carousel-example-generic{
        margin: 0px;
        padding: 0px;
        height: 100x;
        background: green;
      }
    </style>
    
    <div class="av" style="margin-top: 64px; margin-bottom: 5px; height: 300px;">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="5000">
            <img src="/babyshop/img/bg-showcase-2.jpg" class="d-block w-100" style="height: 300px; object-fit: cover;" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Laptop Asus S510</h5>
              <p>Mỏng nhẹ, giá tốt</p>
            </div>
          </div>
          <div class="carousel-item" data-interval="5000">
            <img src="/babyshop/img/bg-showcase-1.jpg" class="d-block w-100" style="height: 300px; object-fit: cover;" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Iphone 7plus</h5>
              <p>Sản phẩm đáng mua</p>
            </div>
          </div>
          <div class="carousel-item" data-interval="5000">
            <img src="/babyshop/img/bg-showcase-3.jpg" class="d-block w-100" style="height: 300px; object-fit: cover;" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5></h5>
              <p></p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
        <!-- Slider END -->
  
                    
        
    
        <!-- Image Showcases -->
        <section class="showcase">
          <div class="container-fluid p-0">
            <div class="row no-gutters">
      
              <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/babyshop/img/bg-showcase-1.jpg');"></div>
              <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Sau tất cả, 7 Plus là chiếc iPhone đáng mua nhất!</h2>
                <p class="lead mb-0">iPhone 7 Plus có tất cả: camera kép, màn hình 5,5 inch, chống nước, viên pin khá giống 8 Plus. Ngoại trừ sạc không dây, bộ xử lý chậm hơn, 7 Plus gần như là một phiên bản 8 Plus rẻ hơn 130 USD.</p>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-lg-6 text-white showcase-img" style="background-image: url('/babyshop/img/bg-showcase-2.jpg');"></div>
              <div class="col-lg-6 my-auto showcase-text">
                <h2>Asus VivoBook S510 viền thật mỏng, nhìn thật đã</h2>
                <p class="lead mb-0">ASUS VivoBook S15 là sự kết hợp hoàn hảo giữa vẻ đẹp và hiệu năng. Với viền máy NanoEdge mỏng, lớp hoàn tất bằng kim loại, bộ vi xử lý Intel® Core™ i7 mới nhất với 16GB RAM, đồ họa NVIDIA® GeForce® 940MX*, VivoBook S15 được thiết kế cho cuộc sống đô thị tấp nập ngày nay.</p>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/babyshop/img/bg-showcase-3.jpg');"></div>
              <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Máy tính bảng Samsung Galaxy Tab A plus 8" SPen (2019)</h2>
                <p class="lead mb-0">Samsung Galaxy Tab A Plus 8.0 inch (2019) là một chiếc máy tính bảng có thiết kế đẹp, trọng lượng nhẹ giúp bạn có thể dễ dàng mang theo trong những buổi sáng cafe hay những chuyến đi chơi xa!</p>
              </div>
            </div>
          </div>
        </section>
            
              <!-- Testimonials -->
              <section class="testimonials text-center bg-light">
                <div class="container">
                  <h2 class="mb-5">Ý kiến từ khách hàng...</h2>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="/babyshop/img/testimonials-1.jpg" alt="">
                        <h5>Ms Thu</h5>
                        <p class="font-weight-light mb-0">"Samsung Spen thật tuyệt! Cám ơn Babyshop!"</p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="/babyshop/img/testimonials-2.jpg" alt="">
                        <h5>Fred S.</h5>
                        <p class="font-weight-light mb-0">"Laptop Asus S510 is good for me!"</p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="/babyshop/img/testimonials-3.jpg" alt="">
                        <h5>Sarah W.</h5>
                        <p class="font-weight-light mb-0">"Thật vừa ý với iphone mua từ Babyshop!"</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            
              <!-- Call to Action -->
              <section class="call-to-action text-white text-center">
                <div class="overlay"></div>
                <div class="container">
                  <div class="row">
                    <div class="col-xl-9 mx-auto">
                      <h2 class="mb-4">Đăng ký tài khoản!</h2>
                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                      <form>
                        <div class="form-row">
                          <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="email" class="form-control form-control-lg" placeholder="Nhập email...">
                          </div>
                          <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Đăng ký!</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </section>
      

{% endblock %}
{# End Nội dung trong block content #}

{% block customscripts %}
<script>
  $('.carousel').carousel()
</script>
{% endblock %}