<footer class="footer mt-auto py-3">
    <div class="container">
        <span id="ft">Copyright &copy; <a href="https://nentang.vn">yuppaoh</a> - 2019.</span>
        <span class="text-muted">Hành trang tới Tương lai</span>
    </div>
</footer>