<!doctype html>
<html lang="vi">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">  
      

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/babyshop/assets/vendor/bootstrap/css/bootstrap.min.css" type="text/css" />

    <!-- Custom css - Các file css do chúng ta tự viết -->
    <link rel="stylesheet" href="/babyshop/assets/frontend/css/style.css" type="text/css" />

    <!-- Custom fonts for this template -->
    <link href="/babyshop/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/babyshop/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/babyshop/css/landing-page.min.css" rel="stylesheet">

    <!-- Block title - Đục lỗ trên giao diện bố cục chung, đặt tên là `title` -->
    <title>Baitap | 
        {% block title %}
        {% endblock %}
    </title>
    <!-- End block title -->
</head>

<body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
          <a class="navbar-brand" href="#" style="padding-left: 10px; padding-right: 10px;">A17080</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
              <a class="nav-item nav-link active" href="home.php">Trang chủ <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="#">Sản phẩm</a>
              <a class="nav-item nav-link" href="aboutus.php">Liên hệ</a>
              
            {% if session['username'] %}
            <!-- Nếu đã đăng nhập thì hiển thị nút Đăng xuất -->
            <a class="nav-link" href="logout.php">Đăng xuất</a>
            <a class="btn btn-outline-success my-2 my-sm-0" style="border-color:#ffe484;" href="#"><i>[User: {{ session['username'] }}]</i></a>
            {% else %}
            <!-- Nếu chưa đăng nhập thì hiển thị nút Đăng nhập -->
            <a class="nav-link" href="login.php">Đăng nhập</a>
            <a class="nav-link" href="login.php">Đăng ký</a>
            {% endif %}

              </div>
          </div>
      
          <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Nội dung tìm kiếm" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
          </form>
      </nav>
      
      <!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
      {% block content %}
      {% endblock %}
      <!-- End block content -->

        <!-- Footer -->
        <footer class="footer bg-light" style="padding: 30px;">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                  <li class="list-inline-item">
                    <a href="#">Trang chủ</a>
                  </li>
                  <li class="list-inline-item">&sdot;</li>
                  <li class="list-inline-item">
                    <a href="#">Sản phẩm</a>
                  </li>
                  <li class="list-inline-item">&sdot;</li>
                  <li class="list-inline-item">
                    <a href="#">Liên hệ</a>
                  </li>
                  <li class="list-inline-item">&sdot;</li>
                  <li class="list-inline-item">
                    <a href="#">Chính sách</a>
                  </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Hoàng Quý - 2019</p>
              </div>

              <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item mr-3">
                    <a href="#">
                      <i class="fab fa-facebook fa-2x fa-fw"></i>
                    </a>
                  </li>
                  <li class="list-inline-item mr-3">
                    <a href="#">
                      <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-instagram fa-2x fa-fw"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      
        <!-- Bootstrap core JavaScript -->
        <script src="/babyshop/vendor/jquery/jquery.min.js"></script>
        <script src="/babyshop/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/babyshop/assets/vendor/popperjs/popper.min.js"></script>    
    <script src="/babyshop/assets/vendor/feather/feather.min.js"></script>

    <!-- Custom script - Các file js do mình tự viết -->
    <script src="/babyshop/assets/frontend/js/app.js"></script>

    <!-- Block custom-scripts - Đục lỗ trên giao diện bố cục chung, đặt tên là `custom-scripts` -->
    {% block customscripts %}
    {% endblock %}
    <!-- End block custom-scripts -->

</body>

</html>