<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/babyshop/assets/vendor/bootstrap/css/bootstrap.min.css" type="text/css">

    <!-- Custom css - Các file css do chúng ta tự viết -->
    <link rel="stylesheet" href="/babyshop/assets/backend/css/style.css" type="text/css">

    <!-- Block title - Đục lỗ trên giao diện bố cục chung, đặt tên là `title` -->
    <title>Nền tảng - Kiến thức cơ bản về WEB | 
        {% block title %}
        {% endblock %}
    </title>
    <!-- End block title -->

</head>

<body class="app flex-row align-items-center">
    
    {% if errors %}
    <div id="thongbao" class="alert alert-danger face" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <ul>
            {% for fields in errors %}
                {% for field in fields %}
                <li>{{ field.msg }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}    

    <!-- header -->
    {{ include('backend/layouts/includes/header.html.twig') }}
    <!-- end header -->

    <div class="container-fluid" style="margin-top: 100px;">
            {% if loidangnhap %}
                <h1>{{loidangnhap}}</h1>
            {% endif %}  


    <!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
    <form name="frmdangnhap" id="frmdangnhap" method="post" action="/babyshop/backend/pages/login.php">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <h1>Đăng nhập</h1>
                                <p class="text-muted">Nhập thông tin Tài khoản</p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-user"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" id="username" name="username" placeholder="Tên đăng nhập">
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-lock"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="password" id="password" name="password" placeholder="Mật khẩu">
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-primary px-4" name="btnDangNhap">Đăng nhập</button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <button class="btn btn-link px-0" type="button">Quên mật khẩu?</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                            <div class="card-body text-center">
                                <div>
                                    <h2>Đăng ký</h2>
                                    <p>Đăng ký để làm thành viên của Trang web bán hàng. Bạn sẽ được một số quyền lợi nhất định khi làm thành viên của Chúng tôi.</p>
                                    <a class="btn btn-primary active mt-3" href="/babyshop/backend/pages/register">Đăng ký ngay!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- End block content -->
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/babyshop/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/babyshop/assets/vendor/popperjs/popper.min.js"></script>
    <script src="/babyshop/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/babyshop/assets/vendor/feather/feather.min.js"></script>

    <!-- jquery-validation -->
    <script src="/babyshop/assets/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/babyshop/assets/vendor/jquery-validation/localization/messages_vi.min.js"></script>

    <!-- Custom script - Các file js do mình tự viết -->
    <script src="/babyshop/assets/backend/js/app.js"></script>

    <!-- Block custom-scripts - Đục lỗ trên giao diện bố cục chung, đặt tên là `custom-scripts` -->
            <!-- End block custom-scripts -->

 
<script>
    $(document).ready(function () {
        $("#frmdangnhap").validate({
            rules: {
                username: {
                    required: true,
                    minlength: 3,
                    maxlength: 50
                },
                password: {
                    required: true,
                    minlength: 3,
                    maxlength: 50
                }
            },
            messages: {
                username: {
                    required: "Vui lòng nhập Username",
                    minlength: "Username phải có ít nhất 3 ký tự",
                    maxlength: "Username không được vượt quá 50 ký tự"
                },
                password: {
                    required: "Vui lòng nhập password",
                    minlength: "Password phải có ít nhất 3 ký tự",
                    maxlength: "Password không được vượt quá 50 ký tự"
                },
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                // Thêm class `invalid-feedback` cho field đang có lỗi
                error.addClass("invalid-feedback");
                if (element.prop("type") === "checkbox") {
                    error.insertAfter(element.parent("label"));
                } else {
                    error.insertAfter(element);
                }
                // Thêm icon "Kiểm tra không Hợp lệ"
                if (!element.next("span")[0]) {
                    $("<span class='glyphicon glyphicon-remove form-control-feedback'></span>")
                        .insertAfter(element);
                }
            },
            success: function (label, element) {
                // Thêm icon "Kiểm tra Hợp lệ"
                if (!$(element).next("span")[0]) {
                    $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>")
                        .insertAfter($(element));
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass("is-invalid").removeClass("is-valid");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).addClass("is-valid").removeClass("is-invalid");
            }
        });
    });
</script>

</body>
</html>